<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.saurik.Cydia</string>
			<key>key</key>
			<string>ena1</string>
			<key>label</key>
			<string>ENABLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.saurik.Cydia</string>
			<key>key</key>
			<string>ena2</string>
			<key>label</key>
			<string>ENABLE2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.saurik.Cydia</string>
			<key>key</key>
			<string>ena3</string>
			<key>label</key>
			<string>ENABLE3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.saurik.Cydia</string>
			<key>key</key>
			<string>ena4</string>
			<key>label</key>
			<string>ENABLE4</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.saurik.Cydia</string>
			<key>key</key>
			<string>ena5</string>
			<key>label</key>
			<string>ENABLE5</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>Res</string>
			<key>label</key>
			<string>CLOSECYDIA</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEV</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>yuosaf01</string>
			<key>user</key>
			<string>yuosaf01</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>3bod_syr</string>
			<key>user</key>
			<string>3bod_syr</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>paypal@2x.png</string>
			<key>label</key>
			<string>BUY</string>
			<key>subtitle</key>
			<string>SUPPORT</string>
			<key>url</key>
			<string>https://paypal.me/yuosaf01</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>label</key>
			<string>github</string>
			<key>subtitle</key>
			<string>open source</string>
			<key>url</key>
			<string>https://github.com/yuosaf01/AddSource</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>©2019</string>
		</dict>
	</array>
	<key>title</key>
	<string>AddSource</string>
</dict>
</plist>
